/*Import das fontes*/
@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

/* Reset de página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto-Regular";
    background-color: #1e1c21;
}
/*CUSTOMIZAÇÃO GERAL DO BOOTSTRAP*/

.container {
    max-width: 1200px;
}
.container-grid {
    max-width:  1200px;
    margin: 0 auto;
    /* border: 3px solid salmon; */
}


/*cabeçalho*/

.header-flex { /*flex conteiner*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
}

header {
   background-color: #1E1C21;
}

header .logo {
    /* border: 1px solid red; */
    width: 280px;
}

header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid white; */
    width: 60%;
    height: 100%;
}

header .menu a {
    font-family: 'Roboto-Light';
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

header .menu-bars {
    display: none;
}

/* banner */
.banner {
    width: 100%; /* não precisaria */
    height: 600px;
    background-image: url(../images/banner_pilotos.png);
    /*background-size: 100%;*/
    background-repeat: no-repeat;
    background-color: blueviolet; /* concertou o erro que estava ocorrendo*/
}

/*centraliza a informação do banner*/
.banner .banner-info-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 550px;
}
.banner .banner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 250px;
    /*border: 1px solid white;*/
}

.banner .banner-info .info-title {
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
}

.banner .banner-info .info-text {
    color: white;
    font-size: 22px;
    text-align: center;
    margin-top: -50px;
}

.banner .banner-info .info-link {
    border: 1px solid #e71a3f;
    background-color: #e71a3f;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    width: 250px;
    height: 45px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Patrocinadores*/

.patrocinados {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

.patrocinados-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*PRODUTOS*/

.produtos {
    background-color: #1E1C21;
    color: white;
    padding: 30px 0px;
    max-width: 1200px;
    margin: auto;
    
}

.produtos h2 {
    font-family: 'Roboto-Medium';
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.card {
    max-width: 230px;
    margin-bottom: 10px;
    background-image: linear-gradient(to bottom, #000000, #1e1c21);
}

.card .card-title {
    font-family: 'Roboto-Medium';
    text-transform: uppercase;
}

.card .card-price {
    font-size: 1.4rem;
    font-family: 'Roboto-Medium';

}

.card .btn-buy {
    background-color: #c31616;
    border: 1px solid #c31616;
    width: 100%;
    text-transform: uppercase;
}

/*BREAKPOINTS*/

@media all and (max-width: 1199px){
    .container .container-grid {
        max-width: 980px;
    }
}/*não está funcionando*/

/*TABLETS 768px - 991px*/
@media all and (max-width: 991px){
    .patrocinados{
        display: none;
    }
    header .logo {
        width: 230px;
        margin-left: 15px;
    }
    
    header .menu {
        position: fixed;
        top: 0;
        left: -80%;
        width: 80%;
        height: 100%;
        z-index: 10;
        opacity: 0;
        border-radius: 0 0 0 90px;

        justify-content: center;
        flex-direction: column;
        align-items: stretch;

        background-color: hsla(0, 80%, 43%, 0.96);
        padding: 20px 50px;
        
        transition: left 0.4s, opacity 0.5s;
    }
    
    header .menu a {
        border-left: 3px dotted white;
        margin-bottom: 20px;
        padding: 20px;
        font-size: 1.4rem;
        font-family: 'Roboto-Bold';
        
    }

    header .menu-bars {
        display: block;
        width: 45px;
        margin-right: 15px;
    }

    .mostraEscondeMenu {
        left: 0 !important;
        opacity: 1 !important;
    }

}

/*SMARTPHONES celulares 0 - 767px*/

@media all and (max-width: 767px){
    
    .header-flex {
        height: 65px;
    }
    
    header .menu-bars {
        width: 25px;
    }

    header .logo{
        width: 180px;
    }

    header .menu a {
        margin-bottom: 10px;
        padding: 10px;
        border-left: 2px dotted white;
        font-size: 1rem;
        
    }
}

